.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: #0000007e;
  z-index: 2;
}

.modal {
  width: 90%;
  margin: 70px auto 0 auto;
  background: #c3c3c3;
  color: #0f0f0f;
  padding: 15px 20px;
  border-radius: 5px;
  animation-name: showModal;
  animation-duration: 120ms;

  h3 {
    font-weight: 700;
    border-bottom: 1px solid #9f9d9d;
    padding-bottom: 5px;
    margin-bottom: 8px;
  }

  @media screen and (min-width: 767px) {
    width: 45%;
  }

  @media screen and (min-width: 1023px) {
    width: 35%;
    margin-top: 120px;

    p {
      margin-bottom: 15px;
      margin-top: 20px;
    }
  }

  @media screen and (min-width: 1350px) {
    width: 25%;
  }
}

.button {
  margin-top: 15px;
  padding: 8px 20px;
  font-weight: 700;
  outline: none;
  border: none;
  background: #868686;
  color: #282828;
  cursor: pointer;
  transition: transform 100ms ease;

  &:hover {
    transform: scale(1.05);
  }

  &-delete {
    background: red;
    margin-right: 20px;
    color: #fff;
  }
}

@keyframes showModal {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
