@import "@/styles/_mixins.module.scss";

.tasksContainer {
  width: 100%;
  margin: auto;
  @include flex($justify-content: space-between);
}

.task-category {
  width: 100%;
  text-align: left;
  margin-top: 30px;

  &:first-child {
    margin-top: 0;
  }

  h4 {
    padding-bottom: 25px;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;

    svg {
      width: 15px;
      margin-right: 7px;
    }
  }
}

@media screen and (min-width: 767px) {
  .task-category {
    width: 47%;

    &:nth-child(2) {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 1023px) {
  .task-category {
    width: 32%;
    margin-top: 0;
  }
}

@media screen and (min-width: 1350px) {
  .task-category {
    width: 30%;
  }
}
