.mainNav {
  width: 90%;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  background: #100f13;
  border-radius: 20px;
  margin: 30px auto 0 auto;
  padding: 15px 0;

  &-item {
    display: flex;
    align-items: center;
    padding: 12px;
    margin-bottom: 20px;
    color: #858488;
    text-decoration: none;
    border-radius: 50%;
    aspect-ratio: 1/1;

    &.active {
      background: #2c2932;
      color: #eee;
    }

    svg {
      width: 20px;
      margin: auto;
    }

    h5 {
      display: none;
      font-weight: 500;
      padding-top: 5px;
      font-size: 0.93em;
    }
  }
}

@media screen and (min-width: 767px) {
  .mainNav-item {
    flex-direction: column;
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    aspect-ratio: auto;
    position: relative;
    h5 {
      display: block;
    }
  }

  .mainNav-item.active {
    animation-name: showItems;
    animation-duration: 300ms;
    animation-fill-mode: both;

    svg,
    h5 {
      animation-name: showText;
      animation-duration: 400ms;
      animation-fill-mode: both;
    }
  }
}

@media screen and (min-width: 900px) {
  .mainNav {
    margin-top: 70px;

    &-item {
      flex-direction: row;
      padding: 13px 10px;

      h5 {
        padding-top: 0;
      }
      svg {
        margin: 0 20px 0 13px;
      }
    }
  }
}

@keyframes showItems {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showText {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
