@import "@/styles/variables.module.scss";

.addExpense {
  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0000004f;
    z-index: 2;
  }

  &-modal {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background: #1d1e22;
    padding: 20px;
    border-radius: 5px;
    animation-name: showModal;
    animation-duration: 100ms;

    @media screen and (min-width: 400px) {
      width: 60%;
    }

    @media screen and (min-width: 550px) {
      width: 45%;
    }

    @media screen and (min-width: 730px) {
      width: 35%;
    }

    @media screen and (min-width: 940px) {
      width: 27%;
    }

    @media screen and (min-width: 1215px) {
      width: 22%;
    }

    @media screen and (min-width: 1300px) {
      width: 20%;
    }

    @media screen and (min-width: 1400px) {
      width: 17%;
    }

    @media screen and (min-width: 2000px) {
      width: 15%;
    }

    h3 {
      border-bottom: 2px solid #b14040;
      padding-bottom: 5px;
      display: inline-block;
    }

    form {
      margin-top: 25px;
      font-family: $secondary-font;
    }
  }
}

.inputBox {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 15px;

  label {
    padding-bottom: 3px;
    font-weight: 500;

    p {
      color: #aaaaaa;
      font-size: 0.75em;
    }
  }

  input {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    background: #161616;
    color: #d2d2d2;
    font-family: $secondary-font;
  }
}

.btn {
  margin: 15px 5px 0 5px;
  outline: none;
  border: none;
  padding: 7px 20px;
  font-size: 0.87em;
  cursor: pointer;
  background: #303137;
  color: #d2d2d2;
  font-weight: 700;
  border-radius: 5px;
}

.add {
  background: #4741fc;
  display: inline-flex;
  align-items: center;
}

@keyframes showModal {
  from {
    top: -10px;
    opacity: 0;
  }
  to {
    top: 60px;
    opacity: 1;
  }
}
