@import "@/styles/variables.module.scss";

.user-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -10px;

  @media screen and (min-width: 767px) {
    justify-content: start;
  }

  &__item {
    margin-inline: 10px;
    text-align: center;
    cursor: pointer;
    min-width: 94px;

    @media screen and (min-width: 767px) {
      margin-inline: 30px;
    }

    &:first-child {
      margin-left: 0 !important;
    }

    &:hover svg {
      animation-name: slideSvg;
      animation-duration: 600ms;
    }

    &:hover p {
      font-weight: 700;
    }

    p {
      padding-top: 15px;
      font-weight: 500;
      color: #b382b3;
      font-family: $secondary-font;
      filter: drop-shadow(2px 4px 6px black);
      font-size: 1.1em;
    }
  }

  svg {
    font-size: 2.5em;
    width: 100%;
    color: #b178b1;
  }
}

.faBorder {
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: auto;
  border-bottom: 1px solid #b382b358;
  overflow: hidden;
}

.expense-choice__title {
  width: 100%;
}

@keyframes slideSvg {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-50px);
  }
  25% {
    opacity: 0;
    transform: translateY(40px);
  }
  60% {
    opacity: 1;
    transform: translateY(0);
  }
}
