@import "@/styles/variables.module.scss";

.goals {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0000006d;
  z-index: 2;

  &-container {
    width: 90%;
    margin: 40px auto 0 auto;
    height: 80vh;
    background: #1d1e22;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    position: relative;
    padding-bottom: 20px;

    @media screen and (min-width: 767px) {
      padding-top: 80px;

      h3 {
        position: absolute;
        top: 0px;
      }
    }

    @media screen and (min-width: 1023px) {
      width: 70%;
    }

    @media screen and (min-width: 1350px) {
      width: 50%;
    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: #4e4c4b;
    }

    h3 {
      margin: 20px;
      padding-bottom: 5px;
      border-bottom: 2px solid #9f5aae;
      display: inline-block;
      margin-bottom: 20px;
      z-index: 3;
      background: #1d1e22;
    }
  }
}

.goal-item {
  width: 100%;
  margin: auto;
  height: 180px;
  padding: 10px 30px;
  text-align: right;
  color: #fff;

  @media screen and (min-width: 767px) {
    width: 45%;
    border-bottom: 2px solid #212429;

    &:nth-child(2n + 1) {
      background: transparent !important;
    }
  }

  &:nth-child(2n + 1) {
    background: #1a1b1e;
  }

  h4 {
    text-align: center;
  }

  &__details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    padding-inline: 10px;

    &-pos {
      text-align: left;
      width: 50%;
      white-space: pre-line;
      display: flex;
      flex-direction: column;
      color: #b1b1b1;
      font-size: 0.9em;

      b {
        color: #fff;
        font-size: 1.25em;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}

.goal-progress_bar {
  width: 100%;
  height: 12px;
  background: #161616;
  margin-top: 15px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.goal-user_progress {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(216deg, #af91af, #421e42);
  width: 30%;
  height: 12px;
  transition: all 300ms ease;
}

.goal-progress_percent {
  text-align: left;
  padding: 3px 0 0 5px;
  font-weight: 600;
  color: #ccc;
  font-size: 0.85em;
}

.deposit {
  position: relative;

  &-btn {
    border: none;
    outline: none;
    text-align: center;
    background: #303137;
    padding: 5px 15px;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    font-size: 0.75em;
    margin-left: auto;
    margin-top: -5px;
  }

  &-input {
    position: absolute;
    top: -35px;
    right: 0;
    width: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #21262f;
    font-weight: 600;
    border-radius: 5px;
    animation-name: showDeposit;
    animation-duration: 100ms;

    input {
      width: 60%;
      outline: none;
      border: none;
      background: transparent;
      padding: 5px 10px;
      color: #fff;
      -moz-appearance: textfield;
      appearance: textfield;
      font-family: $secondary-font;
      font-size: 1em;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  &-submit {
    width: 40%;
    outline: none;
    background: transparent;
    color: #fff;
    font-family: $secondary-font;
    border: none;
    font-weight: 600;
    cursor: pointer;
    border-left: 2px solid #9f5aae;
  }
}

.closeSvg {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 1.65em;
  cursor: pointer;
}

.emoji {
  padding-left: 5px;
  font-size: 1.1em;
  margin-top: 3px;
}

.loadingText {
  padding: 5px;
  color: #bdbdbd;
  font-size: 0.8em;
  margin: auto;
}

.no-goals {
  margin: auto;
  font-size: 1.05em;
  font-style: italic;
  width: 100%;
  text-align: center;
}

@keyframes showDeposit {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
