@import "@/styles/_mixins.module.scss";

.loginArea {
  width: 100%;
  margin: 65px auto 0 auto;
  background: #1d1e22;
  border-radius: 7px;
  overflow: hidden;
}

.options {
  @include flex;
  cursor: pointer;

  &-item {
    width: 50%;
    text-align: center;
    padding: 15px 0;

    &.active {
      font-weight: 700;
      text-shadow: 0 0 8px #a79292;
      background: #1a1a1e;
    }
  }
}

@media screen and (min-width: 767px) {
  .loginArea {
    width: 47%;
    margin: 80px 0 0 0;
  }
}
