@import "@/styles/variables.module.scss";

.form {
  width: 100%;
  padding: 40px 10px;
  text-align: center;
  margin: 0 auto;
  animation-name: showForm;
  animation-duration: 200ms;
  animation-fill-mode: both;
  opacity: 0;
}

.inputBox {
  width: 80%;
  margin: 50px auto;
  position: relative;

  label {
    position: absolute;
    top: -35px;
    left: 0;
    background: transparent;
    transition: all 150ms ease;
    font-size: 0.95em;
    text-align: left;

    p {
      font-size: 0.75em;
      color: #bdbdbd;
    }
  }

  input {
    width: 100%;
    outline: none;
    padding: 10px 15px 10px 20px;
    background: transparent;
    border: 1px solid #484848;
    color: #eee;
    font-family: $primary-font;
    font-size: 0.95em;
  }

  svg {
    position: absolute;
    top: 12px;
    right: 15px;
    width: 18px;
    cursor: pointer;
  }
}

.btnLog {
  margin-top: 25px;
  padding: 8px 30px;
  outline: none;
  border: none;
  font-family: $secondary-font;
  font-weight: 500;
  font-size: 0.95em;
  background: linear-gradient(45deg, #ff50ff, #581787);
  color: #fff;
  cursor: pointer;
  transition: all 150ms ease-out;

  &:hover {
    filter: brightness(1.2);
  }

  &-off {
    opacity: 0;
    animation-name: changeText;
    animation-duration: 200ms;
    animation-fill-mode: both;
  }
}

@keyframes changeText {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

@keyframes showForm {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
