@import "@/styles/_mixins.module.scss";
@import "@/styles/variables.module.scss";

.changeOverlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #0000006f;
  z-index: 2;
}

.changeContent {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  background: #1d1e22;
  width: 90%;
  border-radius: 10px;
  padding: 20px 25px;
  animation-name: showContent;
  animation-duration: 150ms;

  h3 {
    border-bottom: 2px solid rgb(177, 64, 64);
    display: inline;
    padding-bottom: 3px;
  }

  @media screen and (min-width: 500px) {
    width: 75%;
  }

  @media screen and (min-width: 767px) {
    width: 45%;
  }

  @media screen and (min-width: 1023px) {
    width: 35%;
  }

  @media screen and (min-width: 1320px) {
    width: 30%;
  }

  @media screen and (min-width: 1430px) {
    width: 25%;
  }

  @media screen and (min-width: 1750px) {
    width: 20%;
  }
}

.form {
  margin-top: 30px;
  @include flex($justify-content: flex-start);
  font-family: $secondary-font;

  label {
    width: 100%;
    font-size: 0.88em;
  }

  input {
    margin: 3px 0 10px 0;
    outline: none;
    border: none;
    background: #161616;
    color: #eee;
    padding: 10px;
    border-radius: 3px;
    width: 75%;

    &::placeholder {
      font-style: italic;
      color: #b9b9b9;
      font-family: $secondary-font;
    }
  }

  .button-back {
    border: none;
    margin-right: 15px;
    padding: 8px 25px;
    margin-top: 20px;
    background: #303137;
    border-radius: 3px;
  }

  .button-confirm {
    margin-top: 20px;
    border-radius: 3px;
    background: #4741fc;
  }
}

.error {
  background: rgb(213, 40, 40);
  padding: 10px;
  margin: 25px auto -10px auto;
  filter: drop-shadow(2px 4px 6px #000);
  color: #fff;
  width: 100%;
  animation-name: showErr;
  animation-duration: 100ms;
}

@keyframes showErr {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showContent {
  from {
    top: -15%;
    opacity: 0;
  }
  to {
    top: 15%;
    opacity: 1;
  }
}
