.error {
    background: rgb(213, 40, 40);
    padding: 10px;
    margin: 25px auto -10px auto;
    filter: drop-shadow(2px 4px 6px #000);
    color: #fff;
    width: 100%;

    @media screen and (min-width: 767px) {
        width: 80%;
    }

    @media screen and (min-width: 1023px) {
        width: 60%;
    }

    @media screen and (min-width: 1350px) {
        width: 40%;
    }
}